doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HomePage
        style 
            body {
                color: green
                background: wheat }
            
    body
        h1 Welcome to pet-adoption app

        h2 Clients
        p There are #{clients.length} clients registered in the system.

        ol
            each client in clients
                li #{client.name} is #{client.age} years old and has #{client.pets.length} pets