extends layout
block content
    h2 Clients
    p There are #{clients.length} clients registered in the system.

    ol
        each client in clients
            li 
                a(href=`clients/${client.id}`) #{client.name}