extends layout
block content            
    body
        h2 Manager Details
        
        p #{manager.name} is #{manager.age} years old and he/she has a shelter called:
        a(href=`/shelters/${manager.shelter.id}`) #{manager.shelter.name}
        p you can see the details of the shelter he/she manages by clicking the highlighted link 